*{
    margin : 0;
    padding : 0;
}

/* header */
header{
    text-align : center;
    font-family: Roboto;
    font-size : 12px;
    color : #777;
}
a{
    text-decoration: none;
    color: black;
}

.logo{
    display : block;
    padding-bottom : 8px;
    padding-top : 40px;
}

.navbar{
    border-top: 1px;
    border-bottom : 1px;
    border-style: solid;
    border-color: #aaa;
    margin-top : 23px;
    height : 44px;
}

.navbar-container{
    width : 67.5%;
    margin : 9px auto;
    display : flex;
    justify-content : space-between;
    align-items: center;
}

.navbar-container ul{
    list-style : none;
}

.navbar-container li{
    display : inline-block;
    padding-right: 30px;
}

.page-name{
    text-transform : uppercase;
    font-weight: bold;
    text-decoration: none;
}


/*top-news*/
.top-news{
    width: 67.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 24px;
}
.right-container{
    flex: 317;
    /* height: 1222px; */
}

.left-container{
    flex : 963;
}

.top-news ul{
    list-style: none;
}
.top-news img{
    width: 100%;
}
.top-news figure{
    width: 300px;
    height: 200px;
}

.top-news-list li{
    display: inline-block;
    width: 316px;
    height: 440px;
}

/* top-news, innerbox*/
.inner-box{
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid #C7C3BC;
}

.left-box{
    flex: 384;
    padding-right: 16px;
    margin-right: 16px;
    border-right :1px solid #C7C3BC;
}
.left-box h1{
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    font-family: serif;
}
.left-box p{
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto;
    color:#777; 
    margin-top: 16px;
    margin-bottom: 24px;
}
.left-box li{
    padding-top: 48px;
    padding-left: 16px;
    padding-bottom: 28px;
    min-height: 96px;
    border-bottom: 1px solid #C7C3BC;
    position: relative;
}
.left-box li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 56px;
    width: 8px;
    height: 8px;
    background-color: #b80000;
    /* display: inline-block; */
}

.main-news{
    border-bottom: 1px solid #C7C3BC;
    height: 397px;
    display: block;
}

.leadstory{
    flex : 546;
}