* {
    margin: 0;
    padding: 0;
}

/* header */
header {
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    color: #777;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.logo {
    display: block;
    padding-bottom: 8px;
    padding-top: 40px;
}

.navbar {
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #aaa;
    margin-top: 23px;
    height: 44px;
}

.navbar-container {
    width: 67.5%;
    margin: 9px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .navbar-container ul {
    list-style: none;
} */

.navbar-container li {
    display: inline-block;
    padding-right: 30px;
}

.page-name {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}


/*top-news*/
.top-news {
    width: 67.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 24px;
    border-bottom: 4px solid #d8d4cc;
}

.top-news .left-container {
    flex: 963;
}

.top-news ul {
    list-style: none;
}

.top-news img {
    width: 100%;
}

.top-news figure {
    width: 300px;
    height: 200px;
}

/* top-news, innerbox*/
.top-bews .inner-box {
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid #C7C3BC;
}

.top-news .left-box {
    flex: 384;
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid #C7C3BC;
}

.top-news .left-box h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    font-family: serif;
}

.top-news .left-box p {
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto;
    color: #777;
    margin-top: 16px;
    margin-bottom: 24px;
}

.top-news .left-box li {
    padding-top: 48px;
    padding-left: 16px;
    padding-bottom: 28px;
    min-height: 96px;
    position: relative;
}

.top-news .left-box li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 56px;
    width: 8px;
    height: 8px;
    background-color: #b80000;
    /* display: inline-block; */
}

.top-news .left-box .top {
    border-bottom: 1px solid #C7C3BC;
}

.top-news .main-news {
    border-bottom: 1px solid #C7C3BC;
    height: 397px;
    display: block;
}


/* topnews leadstory */
.top-news .leadstory {
    flex: 530;
    padding: 8px;
    border: 1px solid black;
}

.top-news .leadstory a {
    background: #f8f4e7;
    display: block;
    height: 100%;
}

.top-news .content-box {
    position: relative;
    padding: 80px 96px;
}

.top-news .content-box h2 {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
}

.top-news .leadstory .left-quote {
    position: absolute;
    left: 32px;
    top: 50%;
    margin-top: -28px;
    width: initial;
}

.top-news .leadstory .right-quote {
    position: absolute;
    right: 32px;
    top: 50%;
    margin-top: -28px;
    width: initial;
}

/* top news list */
.top-news .top-news-list {
    margin-top: 24px;
}

.top-news .top-news-list li {
    display: inline-block;
    max-width: 300px;
    min-height: 430px;
    vertical-align: top;
}

.top-news .top-news-list .news1 {
    padding-right: 13px;
    border-right: 1px solid #C7C3BC;
}

.top-news .top-news-list .news2 {
    padding: 0 13px 0 13px;
    border-right: 1px solid #C7C3BC;
}

.top-news .top-news-list .news3 {
    padding-left: 13px;
}

.top-news .top-news-list h2 {
    line-height: 32px;
    font-size: 24px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

/* right-container */
.top-news.right-container {
    flex: 300;
    padding-left: 16px;
    border-left: 1px solid #C7C3BC;
    margin-left: 16px;
}

.top-news .right-container h2 {
    font-size: 19px;
    line-height: 26px;
    margin-top: 6px;
}

.top-news .right-container .news1 {
    margin-top: 32px;
    border-top: 1px solid #C7C3BC;
    padding: 22px 0 16px 0;
    border-bottom: 1px solid #C7C3BC;
}

.top-news .right-container .news2 {
    margin-top: 25px;
}


/* section-2: videos */
.videos {
    padding-top: 128px;
    padding-bottom: 32px;
    width: 67.5%;
    margin: 0 auto;
    margin-top: 2px;
    border-top: 1px solid #d8d4cc;
}

.videos .list {
    list-style: none;
    margin-top: 24px;
}

.videos .title {
    font-size: 36px;
    font-family: Roboto;
    text-align: center;
}

.videos img {
    width: 100%;
}

.videos li {
    display: inline-block;
    width: 300px;
    min-height: 350px;
    vertical-align: top;
    border-right: 1px solid #C7C3BC;
    padding: 0 13px 0 9px;
}

.videos .first-news {
    padding-left: 0;
}

.videos .last-news {
    border: 0;
}

.videos .list h2 {
    font-size: 20px;
    line-height: 27px;
    padding: 16px 24px 0;
    font-weight: 700;
}

.videos i {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    bottom: 55px;
}

.videos .video-icon {
    width: 100%;
}

.videos figure {
    height: 200px;
}


/* shorts */
.shorts {
    width: 67.5%;
    margin: 0 auto 3px;
    border-bottom: 4px solid #d8d4cc;
}

.shorts .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    color: #444;
    padding: 30px 0 32px;
    font-family: Roboto;
}

.shorts .list {
    list-style: none;
}

.shorts .list-item {
    width: 302px;
    border-radius: 16px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .1607843137);
    padding: 16px;
    min-height: 688px;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
    box-sizing: border-box;
}

.shorts .list-item-last {
    margin: 0;
}

.shorts img {
    width: 100%;
}

.shorts i {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    bottom: 55px;
}

.shorts .video-icon {
    width: 100%;
}

.shorts .list-item h2 {
    font-size: 20px;
    font-weight: normal;
    padding-top: 16px;
    line-height: 32px;

}

.shorts .list-item figure {
    height: 480px;
}

.shorts .leftarrow {
    width: 48px;
    height: 48px;
    background: #dfdad0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 45%;
    transform: rotate(180deg);
    margin: 45px 0 55px;
}

.shorts .rightarrow {
    width: 48px;
    height: 48px;
    background: #dfdad0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 47%;
    margin: 45px 0;
}

/* top-picks */
/* left container*/

.top-picks {
    width: 67.5%;
    margin: 0 auto 3px;
    padding-top: 48px;
    padding-bottom: 24px;
    display: flex;
    border-bottom: 4px solid #d8d4cc;
    border-top: 1px solid #d8d4cc;
}

.top-picks img {
    width: 100%;
}

.top-picks .left-container {
    flex: 786;
    background-color: #f8f4e7;
    padding: 24px;
    box-sizing: border-box;
}

.top-picks .left-container .title {
    font-size: 36px;
    font-family: Roboto;
    text-align: center;
    text-transform: uppercase;
}

.top-picks .left-container span {
    font-size: 14px;
    color: grey;
    display: block;
    text-align: center;
    font-style: italic;
    padding-top: 8px;
}

.top-picks .left-container .topick-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
    list-style: none;
}

.top-picks .topick-list li {
    margin-bottom: 68px;
    max-width: 344px;
    min-height: 381px;
}

.top-picks .topick-list .left {
    border-right: 1px solid #C7C3BC;
    padding-right: 24px;
}

.top-picks .topick-list .right {
    padding-left: 24px;
}

.top-picks .topick-list h2 {
    font-size: 24px;
    line-height: 32px;
    padding: 24px;
    padding-bottom: 0;
}

.top-picks .left-container .left-top::after,
.top-picks .left-container .right-top::after {
    content: "";
    width: 107%;
    height: 1px;
    background-color: #c5c0b5;
    position: relative;
    bottom: -40px;
    display: inline-block;
}

.top-picks .left-container .right-top::after {
    right: 25px;
}

/* top-picks right containter */
.top-picks .right-container {
    flex: 509;
}

.top-picks .right-container .title {
    font-size: 36px;
    font-family: Roboto;
    text-align: center;
    text-transform: uppercase;
}

.top-picks .right-container .trending-list {
    list-style: none;
}

.top-picks .right-container li {
    padding: 32px 0 16px;
    border-bottom: 1px solid #C7C3BC;
    min-height: 85px;
    box-sizing: border-box;
}

.top-picks .right-container a {
    display: flex;
}

.top-picks .right-container figure {
    flex: 128;
    margin-right: 16px;
}

.top-picks .right-container h3 {
    flex: 332;
}


/*kolkata*/
.kolkata {
    width: 67.5%;
    margin: 0 auto;
    border-bottom: 4px solid #B70100;
    min-height: 970px;
    border-top: 1px solid #d8d4cc;
    padding-top: 96px;
}

.kolkata img {
    width: 100%;
}

.kolkata .title {
    font-size: 36px;
    font-family: Roboto;
    text-align: center;
}

.edugraph .nav-list,
.kolkata .nav-list {
    text-align: center;
    padding: 24px 0 16px;
    border-bottom: 1px solid #C7C3BC;
    margin-bottom: 24px;
}

.edugraph .nav-list li,
.kolkata .nav-list li {
    display: inline-block;
}

.edugraph .nav-list a,
.kolkata .nav-list a {
    display: inline-block;
    border-right: 1px solid black;
    padding: 0 16px;
    color: #b70000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Roboto;
    height: 15px;
}

.edugraph .nav-list a {
    text-transform: none;
    color: black;
}

.edugraph .nav-list .last,
.kolkata .nav-list .last {
    border: 0;
}

.kolkata .container {
    display: flex;
    justify-content: space-between;
}

.kolkata .container i {
    display: inline-block;
    width: 48px;
    height: 48px;
    position: relative;
    bottom: 53px;
    background-color: #b80000;
    display: flex;
}

.kolkata .container .left {
    max-width: 480px;
    text-align: center;
    min-height: 795px;
}

.kolkata .container .left h2 {
    font-size: 35px;
    line-height: 46px;
    margin: 56px 24px 40px;
}

.kolkata .container .left p {
    line-height: 24px;
    font-family: Roboto;
    padding: 0 24px;
    color: #555;
}

.kolkata .container .center {
    max-width: 426px;
    padding: 0 24px;
    border-left: 1px solid #C7C3BC;
    border-right: 1px solid #C7C3BC;
}

.kolkata .container .center h2 {
    font-size: 27px;
    line-height: 36px;
    margin: 16px 0 32px;
}

.kolkata .container .center li {
    border-top: 1px solid #C7C3BC;
    padding: 48px 0 32px;
}

.kolkata .center .list a {
    display: flex;
}

.kolkata .center .list figure {
    width: 162px;
    margin-left: 16px;
    flex-shrink: 0;
}

.kolkata .center .list h2 {
    font-size: 20px;
    line-height: 27px;
    margin: 0;
}

.kolkata .container .right {
    max-width: 294px;
}

.kolkata .right .image {
    text-align: center;
    padding: 10px 0;
}

.kolkata .right img {
    width: 184px;
}

.kolkata .right .list {
    padding-top: 8px;
}

.kolkata .right .list li {
    border-bottom: 1px dashed #999999;
    padding: 32px 0 24px 0;
    box-sizing: border-box;
}

.kolkata .right .list .last {
    border: 0;
}

.kolkata .right .list h3 {
    font-size: 16px;
    color: #B70100;
    text-transform: uppercase;
    font-family: Roboto;
    display: flex;
}

.kolkata .right .list p {
    padding-top: 8px;
}

.kolkata .right .list img {
    width: 32px;
    position: relative;
    bottom: 2px;
    padding-right: 16px;
}

/* opinion section */

.opinion {
    width: 67.5%;
    margin: 0 auto;
    padding-top: 48px;
}

.opinion {
    margin-top: 3px;
    border-top: 1px solid #B70100;
}

.opinion img {
    width: 100%;
}

.opinion .title {
    font-size: 36px;
    font-family: Roboto;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.opinion .topnews {
    background-color: #f8f4e7;
    display: flex;
    max-height: 432px;
}

.opinion .topnews .contentbox {
    padding: 72px 72px 42px;
    text-align: center;
}

.opinion .topnews figure {
    max-width: 648px;
    flex-shrink: 0;
}

.opinion .topnews .contentbox h2 {
    font-size: 35px;
    line-height: 46px;
}

.opinion .topnews .contentbox p {
    line-height: 22px;
    padding-top: 32px;
    color: gray;
    font-family: Roboto;
}

.opinion .topnews .contentbox span {
    color: #b70000;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
    padding-top: 66px;
    display: block;
}

.opinion .list {
    padding-top: 24px;
    border-top: 1px solid #C7C3BC;
    margin-top: 24px;
}

.opinion li {
    display: inline-block;
    border-right: 1px solid #C7C3BC;
    max-width: 298.8px;
    vertical-align: top;
    padding: 0 16px 0 12px;
}

.opinion .list .first {
    padding-left: 0;
}

.opinion .list .last {
    padding-right: 0;
    border: 0;
}

.opinion .list-contentbox {
    padding: 0 24px 32px;
    border-bottom: 4px solid #d8d4cc;
    text-align: center;
    min-height: 355px;
    box-sizing: border-box;
}

.opinion .list-contentbox h2 {
    font-size: 20px;
    /* line-height: var(--lh28); */
    padding-top: 16px;
}

.opinion .list-contentbox p {
    line-height: 22px;
    color: gray;
    margin-top: 16px;
    font-family: Roboto;
}

.opinion .list-contentbox span {
    color: #b70000;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
    padding-top: 24px;
    display: block;
}

.opinion .list-contentbox::after {
    display: inline-block;
    content: "";
    width: 119%;
    height: 1px;
    background: #d8d4cc;
    position: relative;
    bottom: -108px;
    left: -23px;
}

/* india , business, world, sports, bengal, edugraph*/
.india,
.business,
.world,
.sports,
.edugraph,
.bengal {
    width: 67.5%;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 24px;
    border-bottom: 4px solid #d8d4cc;
    /* margin-bottom: 100px; */
}

.business,
.world,
.edugraph,
.sports,
.bengal {
    border-top: 1px solid #d8d4cc;
    margin-top: 3px;
}

.sports {
    border-bottom: 1px solid #d8d4cc;
    padding-bottom: 3px;
}

.india img,
.business img,
.world img,
.sports img,
.edugraph img,
.bengal img {
    width: 100%;
}

.india .title,
.business .title,
.world .title,
.sports .title,
.edugraph .title,
.entertainment .title,
.bengal .title {
    font-size: 36px;
    font-family: Roboto;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.edugraph .title {
    margin: 0;
}

.world .title-small {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-family: Roboto;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 24px;
}

.india .topdiv,
.business .topdiv,
.sports .topdiv,
.edugraph .topdiv,
.bengal .topdiv {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #C7C3BC;
    margin-bottom: 24px;
}


.india .topdiv .rightbox,
.business .rightbox,
.sports .rightbox,
.edugraph .rightbox,
.bengal .rightbox {
    width: 299px;
    border-left: 1px solid #C7C3BC;
    padding-left: 16px;
    flex-shrink: 0;
}

.india .topdiv .topnews h2,
.business .topdiv .topnews h2,
.sports .topdiv .topnews h2,
.edugraph .topdiv .topnews h2,
.bengal .topdiv .topnews h2 {
    margin: 80px 32px 0;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
}

.india .topdiv .rightbox h2,
.business .topdiv .rightbox h2,
.sports .topdiv .rightbox h2,
.edugraph .topdiv .rightbox h2,
.bengal .topdiv .rightbox h2 {
    font-size: 24px;
    line-height: 32px;
    padding: 8px 16px 0;
    text-align: center;
}

.india .topdiv .topnews figure,
.business .topdiv .topnews figure,
.sports .topdiv .topnews figure,
.edugraph .topdiv .topnews figure,
.bengal .topdiv .topnews figure {
    max-width: 560px;
    flex-shrink: 0;
}

.india .topdiv .topnews,
.business .topdiv .topnews,
.sports .topdiv .topnews,
.edugraph .topdiv .topnews,
.bengal .topdiv .topnews {
    background-color: #f8f4e7;
    display: flex;
    width: 964px;
    max-height: 374px;
}

.sports .bottom-list {
    border-bottom: 4px solid #d8d4cc;
}


.india .bottom-list li,
.business .bottom-list li,
.world .bottom-list li,
.sports .bottom-list li,
.edugraph .bottom-list li,
.bengal .bottom-list li {
    display: inline-block;
    width: 298.8px;
    border-right: 1px solid #C7C3BC;
    padding: 0 16px 10px 12px;
    vertical-align: top;
    height: 370px;
}

.sports .bottom-list li {
    margin-bottom: 25px;
}

.world .bottom-list li {
    height: 345px;
}

.india .bottom-list .first,
.business .bottom-list .first,
.world .bottom-list .first,
.sports .bottom-list .first,
.edugraph .bottom-list .first,
.bengal .bottom-list .first {
    padding-left: 0;
}

.india .bottom-list .last,
.business .bottom-list .last,
.world .bottom-list .last,
.sports .bottom-list .last,
.edugraph .bottom-list .last,
.bengal .bottom-list .last {
    border: 0;
    padding-right: 0;
}

.india .bottom-list h2,
.business .bottom-list h2,
.world .bottom-list h2,
.sports .bottom-list h2,
.edugraph .bottom-list h2,
.bengal .bottom-list h2 {
    margin: 16px 24px 24px;
    font-size: 20px;
    line-height: 27px;
}

<<<<<<< HEAD
/* entertainment*/
=======
>>>>>>> 82e058b (add css for entertainment section)
.entertainment {
    background-color: #910000;
    margin-top: 80px;
    border-top: 1px solid #d8d4cc;
}

.entertainment img {
    width: 100%;
}

.entertainment .container {
    width: 67.5%;
    margin: 0 auto;
}

.entertainment .title {
    color: white;
    margin-top: 30px;
}

.entertainment .top-movie {
    display: flex;
<<<<<<< HEAD
    border-bottom : 1px solid black;
    margin-bottom :24px;
    padding-bottom : 24px;
=======
    border-bottom: 1px solid #4e0000;
    margin-bottom: 24px;
    padding-bottom: 24px;
>>>>>>> 82e058b (add css for entertainment section)
}

.entertainment .top-movie figure {
    width: 695px;
    flex-shrink: 0;
}

.entertainment .top-movie .contentbox {
    flex: 1;
    padding: 80px 72px;
<<<<<<< HEAD
    background-color : #6e0000;
    text-align: center;
    color: white;
    flex-shrink :0;
    height : 304px;
=======
    background-color: #6e0000;
    text-align: center;
    color: white;
    flex-shrink: 0;
    height: 304px;
>>>>>>> 82e058b (add css for entertainment section)
}

.entertainment .top-movie h2 {
    font-size: 35px;
    line-height: 46px;
}

.entertainment .top-movie p {
    font-size: 16px;
    line-height: 22px;
    font-family: Roboto;
    margin-top: 48px;
}

<<<<<<< HEAD
.entertainment .bottom-container{
    display: flex;
    vertical-align: top;
}

.entertainment .bottom-container .topick-list{
    width: 786px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.entertainment .bottom-container .right-container{
    flex: 1;
}
=======
.entertainment .bottom-container {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
}

.entertainment .bottom-container .topick-list {
    width: 698px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.entertainment .bottom-container .topick-list li {
    max-width: 324px;
    max-height: 380px;
    flex-shrink: 0;
}

.entertainment .bottom-container .left {
    border-right: 1px solid #4e0000;
    padding-right: 24px;
}

.entertainment .bottom-container .right {
    padding-left: 24px;
}

.entertainment .topick-list h2 {
    font-size: 24px;
    line-height: 32px;
    color: white;
    margin: 16px 16px 0;
}

.entertainment .topick-list .left-top::after,
.entertainment .topick-list .right-top::after {
    content: "";
    width: 107%;
    height: 1px;
    background-color: #4e0000;
    position: relative;
    bottom: -40px;
    display: inline-block;
}

.entertainment .topick-list .right-top::after {
    right: 28px;
}

.entertainment .bottom-container .right-container {
    width: 485px;
    flex-shrink: 0;
    border-left: 1px solid #4e0000;
    padding-left: 24px;
}

.entertainment .bottom-container .right-container li {
    padding: 32px 0 16px;
    border-bottom: 1px solid #4e0000;
    min-height: 180px;
}

.entertainment .bottom-container .first{
    padding-top: 0;
}
>>>>>>> 82e058b (add css for entertainment section)
