* {
    margin: 0;
    padding: 0;
}

/* header */
header {
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    color: #777;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    display: block;
    padding-bottom: 8px;
    padding-top: 40px;
}

.navbar {
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #aaa;
    margin-top: 23px;
    height: 44px;
}

.navbar-container {
    width: 67.5%;
    margin: 9px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container ul {
    list-style: none;
}

.navbar-container li {
    display: inline-block;
    padding-right: 30px;
}

.page-name {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}


/*top-news*/
.top-news {
    width: 67.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 24px;
    border-bottom: 4px solid #d8d4cc;
}

.left-container {
    flex: 963;
}

.top-news ul {
    list-style: none;
}

.top-news img {
    width: 100%;
}

.top-news figure {
    width: 300px;
    height: 200px;
}

/* top-news, innerbox*/
.inner-box {
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid #C7C3BC;
}

.left-box {
    flex: 384;
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid #C7C3BC;
}

.left-box h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    font-family: serif;
}

.left-box p {
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto;
    color: #777;
    margin-top: 16px;
    margin-bottom: 24px;
}

.left-box li {
    padding-top: 48px;
    padding-left: 16px;
    padding-bottom: 28px;
    min-height: 96px;
    position: relative;
}

.left-box li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 56px;
    width: 8px;
    height: 8px;
    background-color: #b80000;
    /* display: inline-block; */
}

.left-box .top {
    border-bottom: 1px solid #C7C3BC;
}

.main-news {
    border-bottom: 1px solid #C7C3BC;
    height: 397px;
    display: block;
}


/* leadstory */
.leadstory {
    flex: 530;
    padding: 8px;
    border: 1px solid black;
}

.leadstory a {
    background: #f8f4e7;
    display: block;
    height: 100%;
}

.content-box {
    position: relative;
    padding: 80px 96px;
}

.content-box h2 {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
}

.leadstory .left-quote {
    position: absolute;
    left: 32px;
    top: 50%;
    margin-top: -28px;
    width: initial;
}

.leadstory .right-quote {
    position: absolute;
    right: 32px;
    top: 50%;
    margin-top: -28px;
    width: initial;
}

/* top news list */
.top-news-list {
    margin-top: 24px;
}

.top-news-list li {
    display: inline-block;
    max-width: 300px;
    min-height: 430px;
    vertical-align: top;
}

.top-news-list .news1 {
    padding-right: 13px;
    border-right: 1px solid #C7C3BC;
}

.top-news-list .news2 {
    padding: 0 13px 0 13px;
    border-right: 1px solid #C7C3BC;
}

.top-news-list .news3 {
    padding-left: 13px;
}

.top-news-list h2 {
    line-height: 32px;
    font-size: 24px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

/* right-container */
.right-container {
    flex: 300;
    padding-left: 16px;
    border-left: 1px solid #C7C3BC;
    margin-left: 16px;
}

.right-container h2 {
    font-size: 19px;
    line-height: 26px;
    margin-top: 6px;
}

.right-container .news1 {
    margin-top: 32px;
    border-top: 1px solid #C7C3BC;
    padding: 22px 0 16px 0;
    border-bottom: 1px solid #C7C3BC;
}

.right-container .news2 {
    margin-top: 25px;
}


/* .space-div{
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
    padding-top: 48px;
} */

/* section-2: videos */
.videos {
    padding-top: 128px;
    padding-bottom: 32px;
    width: 67.5%;
    margin: 0 auto;
    margin-top: 2px;
    border-top: 1px solid #d8d4cc ;
    
}

.videos .list {
    list-style: none;
    margin-top: 24px;
}

.videos .title {
    font-size: 36px;
    font-family: Roboto;
    text-align: center;
}

.videos img {
    width: 100%;
}

.videos li {
    display: inline-block;
    width: 300px;
    min-height: 350px;
    vertical-align: top;
    border-right: 1px solid #C7C3BC;
    padding: 0 13px 0 9px;
}

.videos .first-news {
    padding-left: 0;
}

.videos .last-news {
    border: 0;
}

.videos .list h2 {
    font-size: 20px;
    line-height: 27px;
    padding: 16px 24px 0;
    font-weight: 700;
}
.videos i{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    bottom: 55px;
}
.videos .video-icon{
    width: 100%;
}
.videos figure{
    height: 200px;   
}